.details-card {
    margin: 0 .5em;

    #eventType {
      color: #8e8e8e;
    }

    h2 {
      margin-top: 0;
    }

    md-icon {
        float: left;
        padding-right: 1em;
        font-size: 1.4em;
        color: #8e8e8e;
    }
}

.align-right {
    float: right;
}

img {
    width: 90%;
    min-width: 15rem;
}
