<div *ngIf="event">

  <div class="navigation-area">
    <a href="/events#{{ event.id }}">
      <md-icon>arrow_back</md-icon>
      Event List
    </a>
  </div>

  <md-card>
    <div *ngIf="authService.loggedIn && event.favored" class="favor-indicator">
      <md-icon>star</md-icon>
    </div>

    <md-card-title>
      <span class="type-desc">{{ event.eventType }} - {{ event.duration }} min</span>
      <h2 md-title>{{ event.title }}</h2>
    </md-card-title>

    <table class="event-detail">
      <tbody>
        <tr *ngIf="event.startTime?.isValid()">
          <th><md-icon>today</md-icon></th>
          <td>{{ event.startTime | formatMoment : 'MMMM Do YYYY' }}</td>
        </tr>
        <tr *ngIf="event.startTime?.isValid()">
          <th><md-icon>access_time</md-icon></th>
          <td>
            {{ event.startTime | formatMoment : 'HH:mm' }} - {{ event.startTime | formatMoment : 'HH:mm' }}
          </td>
        </tr>
        <tr *ngIf="event.room">
          <th><md-icon>room</md-icon></th>
          <td>
            <a
              [href]="'/directions/' + event.room.id"
              [routerLink]="[ '/directions', event.room.id ]"
            >
              {{ event.room.name }}
            </a>
          </td>
        </tr>
        <tr>
          <th><md-icon>person_outline</md-icon></th>
          <td>
            <a
              [href]="'/person/' + event.speakers[0].id"
              [routerLink]="[ '/person', event.speakers[0].id ]"
            >
              {{ event.speakers[0].name }}
            </a>
          </td>
        </tr>
        <tr *ngIf="event.speakers[0].institution">
          <th><md-icon>business</md-icon></th>
          <td>{{ event.speakers[0].institution.name }}</td>
        </tr>
      </tbody>
    </table>

    <div class="align-right">
      <span *ngIf="authService.loggedIn">
        <button
          *ngIf="!event.favored"
          md-button
          color="accent"
          (click)="setFavorState(event, true)"
        >
          {{ event.starttime ? 'Add to my schedule' : 'Mark' }}
        </button>
        <button
          *ngIf="event.favored"
          md-button color="accent"
          (click)="setFavorState(event, false)"
        >
          {{ event.starttime ? 'Remove from my schedule' : 'Unmark' }}
        </button>
      </span>
    </div>
  </md-card>

  <div *ngIf="event.paper">
    <h3 md-subheader>Paper</h3>
    <md-card>
      <md-card-title><h4>{{ event.paper.title }}</h4></md-card-title>

      <div class="paper-metainfo">
        <ul *ngIf="event.paper.keywords?.length" class="keywords">
          <li *ngFor="let keyword of event.paper.keywords">
            {{ keyword }}
          </li>
        </ul>
        <a
          *ngIf="event.paper.link"
          md-button
          color="accent"
          [href]="event.paper.link"
          target="_blank"
        >
          <md-icon>file_download</md-icon>
          Download
        </a>
      </div>

      <h5>{{ event.paper.authors.length > 1 ? 'Authors' : 'Author' }}</h5>
      <ul class="paper-authors">
        <li *ngFor="let author of event.paper.authors">
          <a [routerLink]="'/person/' + author.id">{{ author.name }}</a>
          <span *ngIf="author.institution.name">{{ author.institution.name }}</span>
        </li>
      </ul>

      <h5 *ngIf="event.paper.tag">Tag</h5>
      <p *ngIf="event.paper.tag">{{ event.paper.tag }}</p>

      <h5 *ngIf="event.paper.abstract">Abstract</h5>
      <p *ngIf="event.paper.abstract" class="abstract">{{ event.paper.abstract }}</p>
    </md-card>
  </div>

  <div *ngIf="isAuthorised">
    <h3 md-subheader>Event Ressources Upload</h3>
    <md-card>
      <span>As an authorized person for this event, you can upload resources like slides or posters.</span>
      <event-file-upload [event]="event"></event-file-upload>
    </md-card>
  </div>

  <div *ngIf="authService.loggedIn">
    <h3 md-subheader>Comments</h3>
    <md-card>
      <h5>You can ask a question here:</h5>
      <question-tool [event]="event"></question-tool>
    </md-card>
  </div>
</div>
