.paperinfo{
    border: thin solid dimgrey;
    background-color: lightblue; 
    transition: all 1.25s ease-in;
	  display: block;
}
.bar_paper{
    display: block;
    text-align: center;
    color: white;
    background-color: cornflowerblue;
}
.bar_location{
    display: block;
    text-align: center;
    color: white;
    background-color: darkred;
}
.locationinfo{
    display: block;
    text-align: center;
    color: white;
    background-color: indianred;
}
md-card{
  transition: width 2s;
}


