:host {
    display: block;
    padding: .5rem;
}

.navigation-area a {
    display: flex;
    align-items: center;
    padding: .5rem 0;
    margin-bottom: .5rem;
    text-decoration: none;
    color: #8e8e8e
}

.favor-indicator:first-child + * {
    margin-top: 0;
}

:not(.favor-indicator) > md-icon {
    color: #8e8e8e;
}

h2 {
    margin-top: 0;
}

h4 {
    margin: 0;
    font-weight: 300;
}

[md-subheader] {
    display: block;
    box-sizing: border-box;
    padding: 1rem 0;
    margin: 0;
    font-weight: 500;
    font-size: 1rem;
    color: #8e8e8e;
}

.event-detail {
    tbody {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    tr {
        display: block;
        background-color: transparent;
        border: none;
    }

    td, th {
        padding: .5rem .5rem .5rem 1rem;
    }

    a {
        text-decoration: none;
        border-bottom: thin dotted #8e8e8e;
        color: inherit;
    }
}

.paper-metainfo {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;

    a {
        flex-shrink: 1;
    }
}

.paper-authors {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    li {
        display: block;
        padding: 0 1rem 1rem 0;
        text-align: center;
    }

    span, a {
        text-decoration: none;
        color: inherit;
        display: block;
    }

    span {
        font-size: .8rem;
    }

    a {
        border-bottom: thin dotted #8e8e8e;
    }
}

