body {
    font-family: Segoe UI, sans-serif;
    background: #fff;
    color: #333;
    padding: 0;
    margin: 0;
}

h1 {
    font-family: Segoe UI Light, Segoe UI, sans-serif;
    font-weight: 100;
    margin: 0;
    padding: 0;
}

main {
  margin-top: 4em;
}
