@import 'variables';
@import 'breakpoints';
@import 'material/index';
@import 'general';
@import 'components/index';

body {
    margin: 4em 0 0 0;
    padding: 0;
    background-color: #eee;
    font-family: $font-family;
}

conference-navigation {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 2;
    box-shadow: .1em .1em .1em #888888;
}

.page-content {
  max-width: 64em;
  margin: 5em auto 1em;
}
