<div class="flex-container">
  <div *ngFor="let event of events" class="flex-item">
    <md-card>
      <md-card-title>{{ event.title }}</md-card-title>
      <md-card-content>
        <dl>
          <dt *ngIf="event.roomname">Room:</dt>
            <dd *ngIf="event.roomname">{{ event.roomname }}</dd>
          <dt *ngIf="event.starttime">Starts:</dt>
            <dd *ngIf="event.starttime">{{ event.starttime }}</dd>
          <dt *ngIf="event.endtime">Ends:</dt>
            <dd *ngIf="event.endtime">{{ event.endtime }}</dd>
          <dt>Duration:</dt>
            <dd>{{ event.duration }}</dd>
          <dt *ngIf="event.maxsize">Max. participants:</dt>
            <dd *ngIf="event.maxsize">{{ event.maxsize }}</dd>
        </dl>
      </md-card-content>
      <md-card-actions align="end">
        <a [routerLink]="[ '/event', event.id ]">Details</a>
        <i
          *ngIf="event.favoured"
          (click)="onFavouriteStateChange.emit([event, false])"
          class="material-icons icon favoured"
        >star</i>
        <i
          *ngIf="!event.favoured"
          (click)="onFavouriteStateChange.emit([event, true])"
          class="material-icons icon"
        >star_border</i>
      </md-card-actions>
    </md-card>
  </div>
</div>
