<div class="calendar-viewport-title">
  <button md-button (click)="goToPast()"><i class="material-icons">navigate_before</i></button>
  <span>{{ selectedDay.format("MMMM Do YYYY") }}</span>
  <button md-button (click)="goToFuture()"><i class="material-icons">navigate_next</i></button>
</div>
<div class="scroll-wrapper">
  <div class="day-col">
    <div class="day-background">
      <div *ngFor="let h of hours" class="hour-row">
        <span class="hour-text">{{ h }}</span>
      </div>
    </div>
    <div
      class="current-time"
      [style.top]="timeToPercentage() + '%'"
    ></div>
    <div class="day-events">
      <div
        *ngFor="let track of visibleTracks"
        class="day-event-track"
      >
        <div
          *ngFor="let event of track.events"
          class="calendar-event"
          [style.color]="track.color"
          [style.backgroundColor]="track.backgroundColor"
          [style.top]="timeToPercentage(event.startTime) + '%'"
          [style.bottom]="(100 - timeToPercentage(event.endTime)) + '%'"
          [style.left]="getLeftPercentage(event) + '%'"
          [style.right]="getRightPercentage(event) + '%'"
        >
          <template
            *ngIf="eventTemplate"
            [ngTemplateOutlet]="eventTemplate"
            [ngOutletContext]="{ $implicit: event }"
          ></template>
          <span *ngIf="!eventTemplate">{{ event.title }}</span>
        </div>
      </div>
    </div>
  </div>
</div>