@import '~@angular/material/core/theming/palette';

:host {
    background: #fff;
    display: block;
    position: relative;
}

.scroll-wrapper {
    position: absolute;
    top: 3rem;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: auto;
    overflow-x: hidden;
    border-top: thin solid map-get($md-grey, 400);
}

.calendar-viewport-title {
    display: block;
    text-align: center;
    padding: 0 .5rem;
    line-height: 3rem;
}

.current-time {
    position: absolute;
    height: 0;
    border-top: thin solid map-get($md-red, 500);
    width: 100%;
    left: 0;
    z-index: 50;

    &::before, &::after {
        display: block;
        content: '';
        height: .5rem;
        width: .5rem;
        background-color: map-get($md-red, 500);
        position: absolute;
        top: 0;
    }

    &::before {
        transform: translateX(-50%) translateY(-50%) rotate(45deg);
        left: 0;
    }

    &::after {
        transform: translateX(50%) translateY(-50%) rotate(45deg);
        right: 0;
    }
}

.hour-row {
    width: calc(100% - 3rem);
    margin-left: 3rem;
    height: 4rem;
    position: relative;
    border-bottom: 1px solid map-get($md-grey, 400);
    border-left: 1px solid map-get($md-grey, 400);

    &::before {
        content: '';
        display: block;
        height: 50%;
        width: 100%;
        border-bottom: 1px dotted map-get($md-grey, 400);
    }
}

.hour-text {
    position: absolute;
    left: -4rem;
    width: 4rem;
    top: 1px;
    height: 4rem;
    border-bottom: 1px solid map-get($md-grey, 400);
    padding: 0 .5rem;
    box-sizing: border-box;
    text-align: right;
    font-size: .8rem;
    color: map-get($md-grey, 600);
}

.day-col {
    position: relative;
}

.day-events {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 3rem;
    right: 0;
}

.calendar-event {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 0 1px 1px;
    border: 1px solid #fff;
    padding: .5rem;
    box-sizing: border-box;
}

.calendar-event-title {
    display: block;
    font-size: .8rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
