<div *ngIf="!track">
  No track selected
</div>
<div *ngIf="track">
  <form>
    <label>
      Track Name:
      <input
        type="text"
        [(ngModel)]="track.name"
        (change)="update()"
        name="name"
      >
    </label>
    <label>
      Background Colour:
      <input
        type="color"
        [(ngModel)]="track.backgroundColor"
        (change)="update()"
        name="backgroundColor"
      >
    </label>
    <label>
      Foreground Colour:
      <input
        type="color"
        [(ngModel)]="track.color"
        (change)="update()"
        name="color"
      >
    </label>
  </form>
</div>