<h2>{{ paper.title }}</h2>


<!-- Area for Paper Information-->
<div class="paper-title">
  <h3>{{ paper.title }}</h3>
  <a
    *ngIf="paper.link"
    md-button
    color="accent"
    [href]="paper.link"
    target="_blank"
  >
    <md-icon>file_download</md-icon>
    Download
  </a>
</div>

<h5 *ngIf="paper.authors && paper.authors.length==1">Author</h5>
<h5 *ngIf="paper.authors && paper.authors.length>1">Authors</h5>
<ul class="paper-authors">
  <li *ngFor="let author of paper.authors"><a [routerLink]="'/person/' + author.id">{{ author.name }}</a></li>
</ul>

<h5 *ngIf="paper.tag">Tag</h5>
<p *ngIf="paper.tag">{{ paper.tag }}</p>

<h5 *ngIf="paper.keywords">Keywords</h5>
<p *ngIf="paper.keywords">{{ paper.keywords }}</p>

<h5 *ngIf="paper.abstract">Abstract</h5>
<p *ngIf="paper.abstract">{{ paper.abstract }}</p>

<h5 *ngIf="paper.link">Download</h5>
<p *ngIf="paper.link">{{ paper.link }}</p>
