<nav>
  <md-toolbar color="primary">
    <span class="toolbar-title toolbar-fill-remaining">Conference Tool</span>

      <md-menu x-position="before" #menu="mdMenu">
        <a md-menu-item routerLink="/events">Events</a>
        <span *ngIf="authService.loggedIn">
          <a md-menu-item routerLink="/my-schedule">My Schedule</a>
          <a md-menu-item>Settings</a>
          <a md-menu-item (click)="authService.logout('/events')">Logout</a>
        </span>
        <span *ngIf="!authService.loggedIn">
          <a md-menu-item routerLink="/login">Login</a>
          <a md-menu-item routerLink="/register">Register</a>
        </span>
      </md-menu>

      <button md-icon-button [md-menu-trigger-for]="menu">
        <i class="material-icons">more_vert</i>
      </button>
  </md-toolbar>
</nav>
