.toolbar-title {
    padding: 0 .5em;
}

.toolbar-fill-remaining {
    flex: 1 1 auto;
}

.loggedInUserButton {
    border: thin solid #fff;
    border-radius: 1em;
    margin-right: 1em;
    padding: 0 .6em;
}

