<div class="search-bar">
  <md-input
    #search
    type="text"
    placeholder="Search..."
    floatingPlaceholder="false"
    [(ngModel)]="filterQuery"
    (input)="filter()"
  >
  </md-input>
</div>
<md-tab-group>
  <md-tab label="List">
    <md-spinner *ngIf="loading"></md-spinner>

    <md-list *ngFor="let eventType of eventTypes">
      <h3 md-subheader>{{ eventType }}s</h3>
      <conference-event-list
        [events]="selectedEvents | EventFilter: eventType"
        (onFavouriteStateChange)="setFavouriteState($event)"
      ></conference-event-list>
    </md-list>
  </md-tab>
  <md-tab label="Calendar">
    <conference-calendar
      [tracks]="tracks"
    ></conference-calendar>
  </md-tab>
</md-tab-group>
