<div class="search-bar">
  <md-input
    #search
    type="text"
    placeholder="Search..."
    floatingPlaceholder="false"
    [(ngModel)]="filterQuery"
    (input)="filter()"
  >
  </md-input>
</div>
<md-tab-group [selectedIndex]="selectedTab">
  <md-tab label="List">
    <md-spinner *ngIf="loading"></md-spinner>

    <a id="pageTop"></a>
    <a
      *ngIf="lastVisitedLink && events.length"
      href="{{ lastVisitedLink }}"
      class="info"
    >
      Continue at last visited event?
    </a>

    <md-list *ngFor="let eventType of eventTypes">
      <h3
        md-subheader
        *ngIf="(selectedEvents | EventFilter: eventType).length"
      >{{ eventType }}s</h3>
      <conference-event-list
        [events]="selectedEvents | EventFilter: eventType"
        (onFavouriteStateChange)="setFavouriteState($event)"
      ></conference-event-list>
    </md-list>

    <a *ngIf="selectedEvents.length > 0" href="/events#pageTop" class="info">Go to top</a>

  </md-tab>
  <md-tab *ngIf="conference.scheduled" label="Calendar">
    <conference-calendar
      [tracks]="tracks"
    ></conference-calendar>
  </md-tab>
</md-tab-group>
