<div class="search-bar">
  <md-input
    #search
    type="text"
    placeholder="Search..."
    floatingPlaceholder="false"
    [(ngModel)]="filterQuery"
    (input)="filter()"
  >
  </md-input>
</div>
<md-tab-group>
  <md-tab label="Calendar">
    <conference-calendar></conference-calendar>
  </md-tab>
  <md-tab label="List">
    <conference-event-list
      [events]="selectedEvents"
      (onFavouriteStateChange)="setFavouriteState($event)"
    ></conference-event-list>
    <md-spinner *ngIf="loading"></md-spinner>
  </md-tab>
</md-tab-group>