@import '../../../../assets/sass/theme.scss';

$toolbar-height: 64px;
$secondary-bar-height: 48px;

.search-bar::before {
    position: absolute;
    top: $toolbar-height;
    left: 0;
    right: 0;
    height: #{2 * $secondary-bar-height};

    background: map-get($conference-app-primary, 500);
    content: '';
    box-shadow:
        0px 3px 1px -2px rgba(0, 0, 0, 0.2),
        0px 2px 2px 0px rgba(0, 0, 0, 0.14),
        0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.search-bar {
    padding: 0;
    height: $secondary-bar-height;

    md-input, input {
        color: #fff;
        width: 100%;
    }

}

/deep/ .md-input-underline {
    border-color: #fff;
}

/deep/ .md-input-placeholder {
    &.md-focused, &.md-float {
      color: #fff;
      z-index: 2;
    }
}

/deep/ .md-tab-header {
    height: $secondary-bar-height;
    background: transparent;
    color: #fff;
    z-index: 2;
}

/deep/ md-ink-bar {
    background: #fff;
}

conference-calendar {
  /* 64px from the toolbar, 2x 48px from search- and tab-bar */
  height: calc(100vh - #{$toolbar-height + 2 * $secondary-bar-height});
}

.info {
    min-height: 2em;
    text-align: center;
    color: #8e8e8e;
    padding-top: 0.25em;
    margin: 0;
    width: 100%;
    text-decoration: none;

    &:hover {
        background-color: #CFCFCF;
    }
}
