<md-card>
  <md-card-title>
    <h2>{{ person.name }}</h2>
  </md-card-title>
  <md-card-content>
    <table>
      <tr>
        <th>Email</th>
        <td>{{ person.email }}</td>
      </tr>
      <tr *ngIf="person.website">
        <th>Website</th>
        <td>{{ person.website }}</td>
      </tr>
    </table>

    <div *ngIf="papers?.length">
      <h3>Paper</h3>
      <ul class="paper-list">
        <li *ngFor="let paper of papers">
          <a target="_blank" [href]="paper.link">{{ paper.title }}</a>
          <ul>
            <li *ngFor="let author of paper.authors" [class.author-self]="author.id === person.id">
              <a [routerLink]="[ '/person', author.id ]">{{ author.name}}</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>

    <div *ngIf="talks.length">
      <h3>Talks</h3>
      <ul class="talks-list">
        <li *ngFor="let event of talks">
          <a [routerLink]="[ '/events', event.id, event.urlEncodedTitle ]">{{ event.title }}</a>
        </li> <!-- TODO @schrm show event component like in list !-->
      </ul>
    </div>
  </md-card-content>
</md-card>
