@import '~@angular/material/core/theming/palette';

conference-event-list, conference-session-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;

    md-card {
        box-sizing: border-box;
        width: calc(100% - 1em);
        margin: .5em;
        padding: 1em;
        display: flex;
        flex-direction: column;

        @include respond-to(md) {
            width: inital;
            flex: 1 0 20em;
        }

        md-card-actions:last-child {
            padding: .5em;
        }
    }

    md-card-content {
        flex: 1;
    }

    md-card-title {
        padding-right: 2rem;
        padding-bottom: .5rem;
        border-bottom: thin solid md-color($md-grey, 300);
    }
}

conference-event-view {
    background-color: #fff;
}

.paper-authors {
    list-style-type: none;
    padding: 0;
    margin: .5rem 0;

    .paper-author {
        display: inline-block;
        padding-right: .5rem;
    }
}

.favor-indicator {
    position: absolute;
    right: .5rem;
    top: 0;
    padding: .5rem 0;
    background-color: map-get($md-red, 500);
    color: #fff;
    width: 2rem;
    box-sizing: border-box;
    text-align: center;
    box-shadow: 0 .3rem .6rem rgba(0, 0, 0, .1);

    &.favor-indicator--sm {
      transform: scale(.5) translate(50%, -50%);
    }

    &::before, &::after {
        display: block;
        position: absolute;
        bottom: -1rem;
        content: '';
        background-color: #000;
        width: 1rem;
        height: 1rem;
    }

    &::before {
        left: 0;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f44336+0,f44336+100&1+0,1+49,0+50,0+100 */
        background: -moz-linear-gradient(-45deg, rgba(244,67,54,1) 0%, rgba(244,67,54,1) 49%, rgba(244,67,54,0) 50%, rgba(244,67,54,0) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(-45deg, rgba(244,67,54,1) 0%,rgba(244,67,54,1) 49%,rgba(244,67,54,0) 50%,rgba(244,67,54,0) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg, rgba(244,67,54,1) 0%,rgba(244,67,54,1) 49%,rgba(244,67,54,0) 50%,rgba(244,67,54,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f44336', endColorstr='#00f44336',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    }

    &::after {
        right: 0;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f44336+0,f44336+100&0+0,0+50,1+51,1+100 */
        background: -moz-linear-gradient(45deg, rgba(244,67,54,0) 0%, rgba(244,67,54,0) 50%, rgba(244,67,54,1) 51%, rgba(244,67,54,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(45deg, rgba(244,67,54,0) 0%,rgba(244,67,54,0) 50%,rgba(244,67,54,1) 51%,rgba(244,67,54,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(45deg, rgba(244,67,54,0) 0%,rgba(244,67,54,0) 50%,rgba(244,67,54,1) 51%,rgba(244,67,54,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f44336', endColorstr='#f44336',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    }

}
