conference-navigation {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 2;
    box-shadow: .1em .1em .1em #888888;
}

conference-navigation-user {
    [md-button] {
        border: thin solid #ffffff;
        border-radius: 1rem;
        margin: 0 1rem;
        padding: 0 .5rem;
        display: flex;
        align-items: center;
        min-width: auto;
        height: 2rem
    }

    .username {
        display: none;

        @include breakpoint(md) {
            display: block;
        }
    }
}
