<a id="pageTop"></a>
<a 
  *ngIf="lastVisitedLink && events.length > 0"
  href="{{ lastVisitedLink }}"
  class="info"
>
  continue at last visited event?
</a>
<md-card *ngFor="let event of events">
  <a id="{{event.id}}"></a>
  <div *ngIf="authService.loggedIn && event.favored" class="favor-indicator"><md-icon>star</md-icon></div>
  <md-card-title>{{ event.title }}</md-card-title>
  <md-card-content>
    <dl>
      <dt *ngIf="event.paper && event.paper.keywords">Keywords:</dt>
        <dd *ngIf="event.paper && event.paper.keywords">{{ event.paper.keywords }}</dd>
      <dt *ngIf="event.room">Room:</dt>
        <dd *ngIf="event.room">{{ event.room }}</dd>
      <dt *ngIf="event.startTime && event.startTime.isValid()">Starts:</dt>
        <dd *ngIf="event.startTime && event.startTime.isValid()">{{ formatTime(event.startTime) }}</dd>
      <dt *ngIf="event.endTime && event.endTime.isValid()">Ends:</dt>
        <dd *ngIf="event.endTime  && event.endTime.isValid()">{{ formatTime(event.endTime) }}</dd>
    </dl>
  </md-card-content>
  <md-card-actions align="end">
    <a
      md-button
      color="accent"
      [routerLink]="[ '/events', event.id ]"
    >Details</a>
     
    <span *ngIf="authService.loggedIn">
      <button
        *ngIf="!event.favored"
        md-button
        color="accent"
        (click)="onFavouriteStateChange.emit([event, true])"
      >
        {{ event.starttime ? 'Add to my schedule' : 'Mark' }}
      </button>
      <button
        *ngIf="event.favored"
        md-button color="accent"
        (click)="onFavouriteStateChange.emit([event, false])"
      >
        {{ event.starttime ? 'Remove from my schedule' : 'Unmark' }}
      </button>
    </span>
  </md-card-actions>
</md-card>
<a *ngIf="events.length > 0" href="/events#pageTop" class="info">Go to top</a>
