.eventTypeLabel {
  font-size: .8em;
  color: #555;
  padding-bottom: .8rem;
  border-bottom: thin solid #ddd;
}

.eventTitleLabel {
  display: block;
  color: #111;
  line-height: 140%;
  margin-bottom: .8em;
}

.eventKeywordSection {
  color: #555;
  margin-bottom: 6em;
  height: 2em;
}

.keywordLabel {
  display: inline-block;
  font-size: .7em;
  padding: .3em .7em;
  margin-bottom: .3em;
  border: thin solid #ddd;
  border-radius: 1em;
}

.eventSpeakerSection {
  position: absolute;
  width: calc(100% - 2em);
  bottom: 3em;
  padding-bottom: .5em;
  color: #555;
  border-bottom: thin solid #ddd;
}

.speakerIcon {
  float: left;
  margin-top: .1em;
}

.speakerLabel {
  display: block;
  font-size: .8em;
  margin: 0 0 .2em 4em;
}

.detailsButton {
  position: absolute;
  bottom: .2em;
  left: 1em;
}

.favouriteButton {
  position: absolute;
  bottom: .2em;
  right: 1em;
}
