<md-card *ngFor="let event of events">
  <a id="{{ event.id }}"></a>
  <div *ngIf="authService.loggedIn && event.favored" class="favor-indicator"><md-icon>star</md-icon></div>

  <md-card-title class="eventTypeLabel">{{ event.eventType }}</md-card-title>

  <md-card-content>
    <span
      class="eventTitleLabel"
      [routerLink]="[ '/events', event.id ]"
    >
      {{ event.title }}
    </span>

    <div class="eventKeywordSection">
      <span
        *ngFor="let keyword of event.paper.keywords"
        class="keywordLabel">{{ keyword }}</span>
    </div>

    <div class="eventSpeakerSection">
      <md-icon class="speakerIcon">person_outline</md-icon>
      <div>
        <span class="speakerLabel">Speaker Name</span>
        <span class="speakerLabel">University or Institution</span>
      </div>
    </div>
  </md-card-content>

  <button
    md-button
    color="accent"
    class="detailsButton"
    [routerLink]="[ '/events', event.id ]"
  >
    Details
  </button>

  <button
      md-button
      color="accent"
      class="favouriteButton"
      *ngIf="!event.favored"
      [disabled]="!authService.loggedIn"
      (click)="onFavouriteStateChange.emit([event, true])"
    >
      {{ event.starttime ? 'Add to my schedule' : 'Mark' }}
    </button>
    <button
      md-button
      color="accent"
      class="favouriteButton"
      *ngIf="event.favored"
      [disabled]="!authService.loggedIn"
      (click)="onFavouriteStateChange.emit([event, false])"
    >
      {{ event.starttime ? 'Remove from my schedule' : 'Unmark' }}
    </button>
</md-card>
