.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;

    -webkit-flex-direction: row;
    -webkit-flex-wrap: wrap;
}

.flex-item {
    display: inline-block;
    flex: 1;
    min-width: 16em;
    max-width: 24em;
    padding: .5em;
    margin: 0;

    -webkit-flex: 1 1 16em;
}

.separator-line {
    height: 1px;
    background: #aaa;
    margin: 0 -1em;
}


md-card {
    padding: 1.5em;
}

.likes-counter {
    padding: .3em .5em .2em .5em;
    color: #555;
}

.like-icon {
    cursor: pointer;
    color: #555;
    padding: .2em;
}


