<div class="flex-container">
    <div *ngFor="let talk of talks" class="flex-item">
        <md-card>
            <md-card-title>{{ talk.title }}</md-card-title>
            <md-card-content>
                <p>Abstract</p>
                <p>{{ talk.abstract }}</p>
            </md-card-content>

            <div class="separator-line"></div>

            <md-card-actions align="end">
                <span class="likes-counter">{{ talk.numberOfLikes }}</span>
                <i class="material-icons like-icon">thumb_up</i>
            </md-card-actions>
        </md-card>
    </div>
    <div (click)="addTalk()" class="flex-item">
      <md-card>
        <span>Add a new talk</span>
      </md-card>
    </div>
</div>
