<h3 md-subheader>Vote for the events you liked most.</h3>
<md-card>
  <md-input
    type="text"
    placeholder="Search..."
    floatingPlaceholder="false"
    [(ngModel)]="filterQuery"
    (input)="applyFilter()"
  >
  </md-input>
  <md-list>
    <md-list-item
      *ngFor="let pair of eventsWithPosition"
    >
      <span>{{ pair[0] }}.</span>
      <span
        class="title-label"
        [routerLink]="[ '/events', pair[1].id, pair[1].urlEncodedTitle ]"
      >
        {{ pair[1].title }}
      </span>

      <button
        md-icon-button
        *ngIf="!pair[1].voted"
        (click)="voteFor(pair[1])"
      >
        <md-icon>star_border</md-icon>
      </button>
      <button
        md-icon-button
        *ngIf="pair[1].voted"
        class="voted-button"
        (click)="removeVoteFor(pair[1])"
      >
        <md-icon>star</md-icon>
      </button>

      <span>{{ pair[1].voteCount || 0 }}</span>
    </md-list-item>
  </md-list>
</md-card>
