md-input {
    width: 100%;
}

.voted-button {
    color: #FDD835;
}

span {
    padding: 0 .5rem;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.md-list-item {
    width: 100%;
    align-items: flex-start;
}

.title-label {
    flex: 1;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
